/README.el
/slide-style.sty
/lecture-style.sty
/org-preamble.sty

*/*.tex

*/*.aux
*/*.auxlock
*/*.fdb_latexmk
*/*.fls
*/*.log
*/*.nav
*/*.out
*/*.pdf
*/*.pyg
*/*.snm
*/*.toc
*/*.vrb
*/latex.d/
*/tikz.d/

/doc/
/notes/
/index.html
/lectures/tree.svg
