/README.el
/slide-style.sty
/lecture-style.sty
/org-preamble.sty

/lectures/*.pdf
/slides/*.pdf
/td/*.pdf

*.aux
*.log
*.nav
*.out
*.pyg
*.snm
*.toc
# *.vrb
*.tex
*.auxlock
*.fdb_latexmk
*.fls
*.vrb
*~
*latex.d/
*tikz.d/

/doc/
/notes/
/index.html
/lectures/tree.svg
